<footer class="site-footer">
    <p class="footer-name">Blue Earth Cooperative</p>
    <p class="small">Preserving Blue Earth's historic creamery building since 2024</p>
    <p style="margin-top: 8px;">
        <a href="tel:507-519-0003">507-519-0003</a>
        &nbsp;&bull;&nbsp;
        <a href="mailto:bakery@blueearthcoop.com">bakery@blueearthcoop.com</a>
    </p>
    <p style="margin-top: 6px;">
        <a href="https://www.facebook.com/profile.php?id=61576711986089" target="_blank">Follow us on Facebook</a>
    </p>
</footer>
